@model _04156258.Models.MealsAndDiscount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MealsAndDiscount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MealsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealsPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealsPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealsSort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealsSort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealsDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealsDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.RestaurantAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.RestaurantAccount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MealsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
