@using _04156258.Models
@model Restaurant
<h2>Login</h2>
@Html.Raw(TempData["exist"])
@Html.Raw(TempData["null"])
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("RestaurantLogin", "Home"))
            {
            @Html.AntiForgeryToken()
            <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.RestaurantAccount , new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.RestaurantAccount, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RestaurantAccount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RestaurantPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.RestaurantPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RestaurantPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("註冊", "Register")
                </p>
        }

    </div>

</div>